In [4]:
#print range of 1 to 20
for i in range(1,20):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
#print sum of even numbers
n = int(input("Please enter the range: "))
sum = 0
for i in range(1, n+1):
    if i % 2 == 0:
        sum += i
print(sum)

Please enter the range:  20

110

In [7]:
#print sum of odd numbers
n = int(input("Please enter the range: "))
sum = 0
for i in range(1, n+1):
    if i % 2 == 1:
        sum += i
print(sum)

Please enter the range:  20

100

In [9]:
#print multiplication tables from 1 to 10
for i in range(1,11):
    print(f"\nMultiplication table of {i}")
    print("--" * 10)
    for j in range(1,11):
        print(f"{i} x {j} = {i*j}")

Multiplication table of 1
--------------------
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table of 2
--------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table of 3
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table of 4
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table of 5
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Multiplication table of 6
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication table of 7
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication table of 8
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiplication table of 9
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Multiplication table of 10
--------------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [10]:
#print patterns by using nested for loop with the help of range
rows = int(input("Enter number of rows: "))

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

Enter number of rows:  9

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [11]:
#print patterns by using conditional statement with the help of range
rows = int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(rows):
        if j < rows - i:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter number of rows:  9

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
#print list of even numbers
n = int(input("Please enter the range: "))
even_numbers = []
for i in range(1, n+1):
    if i % 2 == 0:
        even_numbers.append(i)
print("List of even numbers: ", even_numbers)

Please enter the range:  20

List of even numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
#print list of odd numbers
n = int(input("Please enter the range: "))
odd_numbers = []
for i in range(1, n+1):
    if i % 2 == 1:
        odd_numbers.append(i)
print("List of odd numbers: ", odd_numbers)

Please enter the range:  20

List of odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [16]:
#check whether a number is palindrome or not
n = int(input("Enter a number: "))
num = n
rev = 0
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10
if n == rev:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a number:  1234321

Palindrome

In [17]:
#print the squares of list of numbers
numbers = [1, 2, 3, 4, 5]
for n in numbers:
    print(f"Square of {n} is {n**2}")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [23]:
#print cubes of list of numbers
numbers = input("Enter numbers separated by space: ").split()
numbers = [int(num) for num in numbers]
for num in numbers:
    print(f"Cube of {num} is {num**3}")

Enter numbers separated by space:  1 2 3 4 5 6

Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125
Cube of 6 is 216

In [24]:
#explain for loop
#It is used to execute a block of code a fixed number of times.
for x in range(5):
    print(x)

0
1
2
3
4

In [25]:
#explain while loop
#It repeats a block of code as long as the condition remains true.
x = 0
while x<5:
    print(x)
    x += 1

0
1
2
3
4

In [ ]:
#what are branching statements, why use them, list some of the use cases

In [26]:
#break: if condition stated is true, it stops the loop
for x in range(1,10):
    if x == 6:
        break
    print(x)

1
2
3
4
5

In [27]:
#continue: if condition stated is true, it skips and continues the loop
for x in range(1,10):
    if x == 6:
        continue
    print(x)

1
2
3
4
5
7
8
9

In [28]:
#pass: a placeholder (It does not do anything. If the code is further required for use, we can use pass).
for x in range(1,10):
    if x == 6:
        pass
    print(x)

1
2
3
4
5
6
7
8
9